:root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /* poser vars. Update Canvas JS colors when updating these. */
  --player-1: #ff3232;
  --player-2: #ff9232;
  --player-3: #e7ff32;
  --player-4: #32ff87;
  --player-5: #32ffee;
  --player-6: #3295ff;
  --player-7: #c132ff;
  --player-8: #ff326f;
}

body, #root {
  height: 100%;
  width: 100%;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.notification-error {
  color: var(--background-color);
  background-color: rgba(255, 252, 80, 0.87);
}

.player-1 {
  color: var(--player-1);
}

.player-2 {
  color: var(--player-2);
}

.player-3 {
  color: var(--player-3);
}

.player-4 {
  color: var(--player-4);
}

.player-5 {
  color: var(--player-5);
}

.player-6 {
  color: var(--player-6);
}

.player-7 {
  color: var(--player-7);
}

.player-8 {
  color: var(--player-8);
}

.player-offline {
  display: none;
}

.inactive {
  display: none;
}
